{{> header}}
<div class="p-5 pb-1 mb-0">
    <h1 class="mt-3 pt-1 show" id="1">Welcome, {{data.username}}</h1>
    <h1 class="mt-0 mb-4 hide show-stay" id="2"> Dashboard</h1>
</div>
<div class="container w-75">
    {{#each page}}
   
    {{#if isManager}}
    <div class="row {{bgColor}} w-75 rounded p-5 mb-3 mx-auto">
        <div class="col-sm-10">
            <a href="{{route}}" class="btn rounded p-3 {{btnColor}}">
                <h5>
                    {{name}}
                </h5>
                <span class="badge badge-light">{{numRequests}}</span>
            </a>
        </div>
    </div>
    {{/if}}

    {{#if isTaproom}}
    {{#if showTaproom}}
    <div class="row {{bgColor}} w-75 rounded p-5 mb-3 mx-auto">
        <div class="col-sm-10">
            <a href="{{route}}" class="btn rounded p-3 {{btnColor}}">
                <h5>
                    {{name}}
                </h5>
                <span class="badge badge-light">{{numRequests}}</span>
            </a>
        </div>
    </div>
    {{/if}}
    {{/if}}
    
    {{#if isBrewhouse}}
    {{#if showBrewhouse}}
    <div class="row {{bgColor}} w-75 rounded p-5 mb-3 mx-auto">
        <div class="col-sm-10">
            <a href="{{route}}" class="btn rounded p-3 {{btnColor}}">
                <h5>
                    {{name}}
                </h5>
                <span class="badge badge-light">{{numRequests}}</span>
            </a>
        </div>
    </div>
    {{/if}}
    {{/if}}
    {{/each}}
</div>
<div class="row">
    <h1 class="p-5 mb-5"> Welcome to TOOT, the brewery app. For your taproom
        management needs. </h1>
</div>
