{{> header}}
<script type="module" src="remove-emp-btn.js"></script>
<main class="container">
    <section class="row mb-5">
        <form id="login" class="rounded employees-bg_dark p-4"
            action="api/employees" method="POST">
            <div class="input-group mb-3">
                <label for="firstname" class="input-group-text
                    employees-bg_light">First name: </label>
                <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    placeholder="Enter your first name"
                    aria-label="firstname"
                    aria-describedby="firstname"
                    />
            </div>
            <div class="input-group mb-3">
                <label for="lastname" class="input-group-text
                    employees-bg_light">Last name: </label>
                <input
                    type="text"
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    placeholder="Enter your last name"
                    aria-label="lastname"
                    aria-describedby="lastname"
                    />
            </div>
            <div class="input-group mb-3">
                <label for="role" class="input-group-text employees-bg_light">Role:
                </label>
                <select name="role" id="role" class="form-select"
                    aria-label="Select role">
                    <option selected>Select role</option>
                    {{#each role}}
                    <option value="{{id}}">{{role}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="username" class="input-group-text
                    employees-bg_light">Username: </label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    aria-label="username"
                    aria-describedby="username"
                    />
            </div>
            <div class="input-group mb-3">
                <label for="password" class="input-group-text
                    employees-bg_light">Password: </label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    aria-label="password"
                    aria-describedby="password"
                    />
            </div>
            <div class="input-group mb-3">
                <label for="confirm_password" class="input-group-text
                    employees-bg_light">Confirm your password: </label>
                <input
                    type="password"
                    class="form-control"
                    id="confirm_password"
                    name="confirm_password"
                    placeholder="Confirm your password"
                    aria-label="confirm_password"
                    aria-describedby="confirm_password"
                    />
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn employees-bg_light">Submit</button>
                <a href="/update-account">Forgot username/password?</a>
            </div>
        </form>
    </section>
    <section class="row mb-5">
        <div class="table-responsive">
            <table class="table">
                <thead class="employees-bg_dark">
                    <tr>
                        <th>first name</th>
                        <th>last name</th>
                        <th>role</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employee}}
                    <tr>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{role}}</td>
                        <td>
                            <button class="btn btn-sm rounded
                                requests-bg_light emp-action-btn" data-request-id="{{id}}"> delete </button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</main>