{{> header}}
<h2 class="rounded requests-bg_light p-3 mb-4"> beer requests </h1>
<main class="container">
    <section class="row mb-5">
        <h1>{{heading}}</h1>
     
    {{#if isTaproom}}
    {{else}}
        <form id="requests-search_box" class="rounded requests-bg_dark p-4"
            action="api/requests" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text requests-bg_light"
                    id="request-style">style request: </span>
                <input
                    type="text"
                    class="form-control"
                    name="request_style"
                    placeholder="Enter beer style"
                    aria-label="request style"
                    aria-describedby="request-style"
                    />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text requests-bg_light" id="add_notes">additional
                    notes</span>
                <textarea class="form-control" name="add_notes"
                    aria-label="additional notes"></textarea>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn requests-bg_light">Submit</button>
            </div>
        </form>
    {{/if}}
    </section>
    <section>
        <div class="table-responsive">
            <table class="table">
                <thead class="requests-bg_dark">
                    <tr>
                        <th>style</th>
                        <th>requested by</th>
                        <th>request date</th>
                        <th>approved by</th>
                        <th>approval date</th>
                        {{#if isManager}}
                        <th>actions</th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each request}}
                    <tr>
                        <td>{{style}}</td>
                        <td>{{requestor}}</td>
                        <td>{{request_date}}</td>
                        <td>{{approver}}</td>
                        <td>{{approval_date}}</td>
                        {{#if ../isManager}}
                        <td>
                            {{#if is_approved}}
                            <button class="btn btn-sm delete-btn rounded requests-bg_light" data-request-id="{{id}}" disabled>delete</button>
                            <button class="btn btn-sm approve-btn rounded requests-bg_light" data-request-id="{{id}}" disabled>approve</button>
                            {{else}}
                            <button class="btn btn-sm delete-btn rounded requests-bg_light" data-request-id="{{id}}">delete</button>
                            <button class="btn btn-sm approve-btn rounded requests-bg_light" data-request-id="{{id}}">approve</button>
                            {{/if}}
                        </td>
                        {{/if}}
                    </tr>
                    <tr>
                        <td colspan="7">{{notes}}</td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</main>