{{> header}}
<main class="container">
    <section class="row mb-5">
        <form id="requests-search_box" class="rounded requests-bg_dark p-4"
            action="api/requests" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text requests-bg_light"
                    id="request-style">style request: </span>
                <input
                    type="text"
                    class="form-control"
                    name="request_style"
                    placeholder="Enter beer style"
                    aria-label="request style"
                    aria-describedby="request-style"
                    />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text requests-bg_light" id="add_notes">additional
                    notes</span>
                <textarea class="form-control" name="add_notes"
                    aria-label="additional notes"></textarea>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn requests-bg_light">Submit</button>
            </div>
        </form>
    </section>
    <section>
        <div class="table-responsive">
            <div style="overflow-x:auto;">
                <table class="table">
                    <thead class="requests-bg_dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">style</th>
                            <th scope="col">requested by</th>
                            <th scope="col">request date</th>
                            <th scope="col">approved by</th>
                            <th scope="col">approval date</th>
                            <th scope="col">actions</th>
                        </tr>

                    </thead>
                    <tbody>
                        {{#each requests}}
                        <tr>
                            <th scope="row"></th>
                            <td>{{style}}</td>
                            <td>{{requestor_id}}</td>
                            <td>{{request_date}}</td>
                            <td>{{approver_id}}</td>
                            <td>{{approval_date}}</td>
                            <td>
                                <button class="btn btn-sm delete-btn rounded
                                    requests-bg_light" data-request-id="{{id}}">delete</button>
                                <button class="btn btn-sm approve-btn rounded
                                    requests-bg_light" data-request-id="{{id}}">approve</button>
                            </td>
                        </tr>
                        <thead class="requests-bg_dark">
                            <tr>
                                <th scope="column">notes</th>
                            </tr>
                        </thead>
                        <tr>
                            <td scope="row">{{notes}}</td>
                            <span class="border-bottom border-dark"></span>
                        </tr>
                        <div>
                        </div>
                    </div>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</main>