{{> header}}
<main class="container" onload="getData()">
    <section class="row mb-5">
        <form id="search_box" class="rounded search-bg_dark p-4" action="/stylesearch" method="get">
            <div class="input-group mb-3">
<<<<<<< HEAD
                <span class="input-group-text search-bg_light" id="style_search">category: </span>
                <div id="brandFilter">
                    <input name="category" onkeyup="getData()" id="searchbar1" type="text" placeholder="Choose category" />
                        <ul id="myUL">{{#each beerData}}
                        <li> <a id="category-option">{{this.category}}</a> </li>
                        {{/each}}
                        </ul>
                </div>
=======
                <span class="input-group-text search-bg_light" id="style_search">style: </span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter beer style"
                    aria-label="style search"
                    aria-describedby="style_search"
                />
            </div>
            
            <div class="col-sm-12">
                <button type="submit" class="btn search-bg_light">Submit</button>
>>>>>>> 171e176578e95ef9b1ffc98990dc2de9a6a208c8
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text search-bg_light" id="style_search">style: </span>
                <div id="brandFilter">
                    <input onclick="search_beer()" name="name" id="searchbar2" type="text" placeholder="Choose name" name="search" />
                    <datalist id="styles">
                        {{#each beerData}}
                        <option id="styles-option" value="{{beerData.name}}">{{beerData.name}}</option>
                        {{/each}}
                    </datalist>
                </div>
                <div class="col-sm-12">
                    <button onclick="getData()" type="submit" class="btn search-bg_light m-space">Submit</button>
                </div>
        </form>
    </section>
    <section class="row search_results" action="/stylesearch/styles" method="get">
        <div class="beer_img col-sm-3">
            <img src="{{beerimg}}" alt="" class="img-fluid">
        </div>
        <div class="beer_desc col-sm-9">
            {{#each beerData}}
            <div class="row">
                <h3 class="badge rounded-pill search-bg_light p-3">category</h3>
                <p>{{category}}</p>
                <h3 class="badge rounded-pill search-bg_light p-3">style</h3>
                <p>{{name}}</p>
            </div>
            <div class="row">
                <h3 class="badge rounded-pill search-bg_light p-3">description</h3>
                <p>{{history}}</p>
            </div>
            <div id="beer_stats" class="row">
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2 text-center">ibu</h4>
                    <p class="text-center">{{ibumin}} - {{ibumax}}</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2">srm</h4>
                    <p>{{srmmin}} - {{srmmax}}</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2">abv</h4>
                    <p>{{abvmin}} - {{abvmax}}</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2">examples</h4>
                    <p> {{commercialexamples}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>
