{{> header}}
<main class="container">
    <section class="row mb-5">
        <form id="search_box" class="rounded search-bg_dark p-4" action="/stylesearch" method="GET">
            <div class="input-group mb-3">
                <span class="input-group-text search-bg_light" id="style_search">category: </span>
                    <div id="brandFilter">
                        <input id="searchbar1" type="text" placeholder="Choose category"/>
                        <datalist id="categories">
                            {{#each beerData}}
                            <option id="category-option" value="{{this.category}}">{{this.category}}</option>
                            {{/each}}
                        </datalist>
                    </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text search-bg_light" id="style_search">style: </span>
                <div id="brandFilter">
                    <input id="searchbar2" onkeyup="search_beer()" type="text" placeholder="Choose name" name="search" />
                    <datalist id="styles">
                        {{#each beerData}}
                        <option id="styles-option" value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </datalist>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn search-bg_light m-space">Submit</button>
                </div>
        </form>
    </section>

    <section class="row search_results">
        <div class="beer_img col-sm-3">
            <img src="{{beerimg}}" alt="" class="img-fluid">
        </div>
        <div class="beer_desc col-sm-9">
            {{#each beerData}}
            <div class="row">
                <h3 class="badge rounded-pill search-bg_light p-3">style</h3>
                <p>{{this.name}}</p>
            </div>
            <div class="row">
                <h3 class="badge rounded-pill search-bg_light p-3">description</h3>
                <p>{{this.description}}</p>

            </div>
            <div id="beer_stats" class="row">
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2 text-center">ibu</h4>
                    <p class="text-center">{{ibu}}</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2">srm</h4>
                    <p>{{srm}}</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2">abv</h4>
                    <p>{{abv}}</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h4 class="badge rounded-pill search-bg_light p-2">examples</h4>
                    <ul>
                        {{#each examples}}
                        <li></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>