{{> header}}
<main class="container">
    {{!-- PROBABLY WON'T BE USING THIS --}}
    {{!-- <section class="row mb-5">
        <form id="tapplan-search_box" class="rounded tapplan-bg_dark p-4" action="" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-now">on now: </span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="beer name"
                    aria-label="on now"
                    aria-describedby="on-now"
                />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-after">on after: </span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="beer name"
                    aria-label="on after"
                    aria-describedby="on-after"
                />
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn tapplan-bg_light">Submit</button>
            </div>
        </form>
    </section> --}}

    {{!-- 
        UPDATE ALL ATTRIBUTES, CLASSES, IDS, ETC TO MAKE ELEMENTS
        ACCESSIBLE FOR JS
     --}}
    <section>
        <form id="tapplan-search_box" class="rounded tapplan-bg_dark p-4">
            {{#each onTap}}
            <div class="row">
                <div class="col-sm-5">
                    <label for="" class="tapplan-bg_light rounded">On Tap {{id}}</label>
                    <select name="" id="on-now">
                        <option value="">Select tap {{id}}</option>
                        {{#each ../beer}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-sm-2">
                    <i id="on-tap-arrow" class="{{../arrow}}"></i>
                </div>
                <div class="col-sm-5">
                    <label for="" class="tapplan-bg_light rounded">Next On Tap {{id}}</label>
                    <select name="" id="up-next">
                        <option value="">Select</option>
                        {{#each ../beer}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            {{/each}}
        </form>
    </section>
</main>