{{> header}}
<script type="module" src="/move-style.js"></script>
<main class="container">
    <section class="row mb-5">
        <form id="tapplan-search_box" class="rounded tapplan-bg_dark p-4" action="api/tapplan/now/:{{id}}" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-now">on now: </span>
               <select name="" class="on-now">
                        <option value=""> Select Beer</option>
                        {{#each beer}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-after">select tap: </span>
                <select>  
                    <option value="">
                        Select tap
                    </option> 
                        {{#each onTap}}
                    <option>
                        {{this.id}}
                    </option>
                    {{/each}}
                </select> 
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn tapplan-bg_light">Submit</button>
            </div>
        </form>
    </section> 
    <section>
    <form id="tapplan-search_box" class="rounded tapplan-bg_dark p-4" action="api/tapplan/next/:{{id}}" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-now">on now: </span>
               <select name="" class="on-now">
                        <option value=""> Select Beer</option>
                        {{#each beer}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text tapplan-bg_light" id="on-after">select tap: </span>
                <select>  
                    <option value="">
                        Select tap
                    </option> 
                        {{#each onTap}}
                    <option>
                        {{this.id}}
                    </option>
                    {{/each}}
                </select> 
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn tapplan-bg_light">Submit</button>
            </div>
        </form>
    </section> 
   <section> 

   </section>